# Build
**/build
build-*/
/cmake-build-*/
.cache/

# Compiled objects and libraries
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Editor / IDE
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
.history/
.vs/
.idea/
.cursor/
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# OS
.DS_Store
**/.DS_Store
